body {
    background-color: #638fff;
    text-align: center;
}

main {
    background-color: whitesmoke;
    margin: 5% auto 0;
    padding: 3%;
}

h1 {
    margin: 5% 0;
}

#final-container, #timer {
    width: 60%;
    margin: 0 20%;
    display: none;
    font-size: 22px;
}

#intro-text {
    font-size: 18px;
}

.question {
    display: none;
    margin: 0 auto;
}

.answer, #start-button {
    display: block;
    margin: 1% auto;
    width: 45%;
    font-size: 25px;
}

#timer {
    margin: auto;
    font-size: 35px;
}

h3 {
    margin: 5%;
}

ul {
    margin: 5%
}

li {
    margin: 1% 0;
    font-size: 24px;
    list-style: none;
    color: crimson;
}

#correct-or-incorrect {
    color: crimson;
    font-size: 30px;
}

#score-banner {
    font-size: 25px;
}

